<div class="modal-header">
  <h3 class="modal-title"> Cheatsheet </h3>
</div>
<div class="modal-body">

  <table>
    <tr>
      <td> Ctrl + b </td>
      <td> Ctrl + i </td>
    </tr>
    <tr>
      <td> Ctrl + u </td>
      <td> Ctrl + shft + 5</td>
    </tr>
    <tr>
      <td> Ctrl + shft + 8 </td>
      <td> Ctrl +e </td>
    </tr>
  </table>

  <h3 class="modal-heading"> Boring Information </h3>
  <p> Welcome to [name]. A writing app to help you write your next masterpiece.
      <br /> Now get back to work. :)<p>
</div>
<div class="modal-footer">
  <p> Made with <3 by JARN </p>
  <md-button ng-click="ok()"> Ok </md-button>
</div>
