// All styles related to the main content

body {
  background: #f0f0f0;
  padding: 0;
  font-family: 'Inconsolata';
}

.content {
  margin-top: 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  // border: 1px solid black;
  background: white;
}

textarea {
  height: 600px;
  width: 698px;
  resize: none;
  font-size: 11pt;
  border: none;

  &:focus {
    outline: none;
  }

}

.textfield {
  font-size: 22px;
  font-weight: bold;
  border: none;
  padding-left: 10px;
  width: 100%;

  &:focus {
    outline: none;
  }

}
